# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [13]:
my_var1 = 23
my_var2 = 23
print(my_var1 == my_var2);
print(id(my_var1) == id(my_var2))

True
True

Змінні однакові за значенням та посилаються на один об'єкт в пам'яті.

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [4]:
my_var = True;
print(isinstance(my_var, bool));
print(isinstance(my_var, int));

True
True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [5]:
my_var1 = 23
my_var2 = 2.5
print("Sum of my_var1 and my_var2 equal to " + str(my_var1 + my_var2))
print("Subtraction of my_var1 and my_var2 equal to " + str(my_var1 - my_var2))
print("Multiplication of my_var1 and my_var2 equal to " + str(my_var1 * my_var2))
print("Division of my_var1 and my_var2 equal to " + str(my_var1 / my_var2))
print("Division without remainder of my_var1 and my_var2 equal to " + str(my_var1 // my_var2))
print("Division by modulus of my_var1 and my_var2 equal to " + str(my_var1 % my_var2))
print("Bringing to a degree of my_var1 and my_var2 equal to " + str(my_var1 ** my_var2))

Sum of my_var1 and my_var2 equal to 25.5
Subtraction of my_var1 and my_var2 equal to 20.5
Multiplication of my_var1 and my_var2 equal to 57.5
Division of my_var1 and my_var2 equal to 9.2
Division without remainder of my_var1 and my_var2 equal to 9.0
Division by modulus of my_var1 and my_var2 equal to 0.5
Bringing to a degree of my_var1 and my_var2 equal to 2536.9948758324285

division4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [3]:
my_var2 = 2.5
print(int(my_var2));
my_bool_var = True;
print(int(my_bool_var));

2
1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [5]:
my_str_var1 = "";
my_str_var2 = '';
my_str_var3 = str();

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [9]:
my_str_var1 = "'";
my_str_var2 = r"'";
print(my_str_var1);
print(my_str_var2);

'
'

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [10]:
my_surname = "Dovhan";
print(f"My surname is {my_surname}");

My surname is Dovhan

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [14]:
line = "My dog is crazy.";
line = line.lower();
line = line.replace(".", "");
line = line.split();
print(line);

['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [16]:
list1 = list((1, 2, 3, 4, 5));
list2 = [1, 2, 3, 4, 5, 6];
print(len(list2));

6

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [17]:
list1 = [7, 5, 8, 2, 9];
list2 = [1, 2, 3, 4, 5, 6];
list2.extend(list1);
print(list2);

[1, 2, 3, 4, 5, 6, 7, 5, 8, 2, 9]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [20]:
list_var = [[5, 6, 8, 8, 1], [7, 6, 5], [4, 1, 3, 7]];
print(list_var[-1][0]);

4

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [24]:
list_var = ["s", 3, 5.6, True, False, "t", "p", 8.6, 7.5, 5];
list_var1 = list_var[2:8];
print(list_var1);

[5.6, True, False, 't', 'p', 8.6]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [3]:
one_tuple = (1,);
print(isinstance(one_tuple, tuple));

False

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

**Списки**: змінні; легко можна зробити зміни зі списком; ініціалізація за допомогою []; списки повільніші, оскільки їх можна змінювати і програма більше працює з пам'ятю
**Кортежі**: незмінні; для змін потрібно створювати новий кортеж з новим id; ініціалізація за допомогою (,); кортежі швидші, оскільки мають фіксовану довжину; кортежі часто використовують для ітерації

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [19]:
my_tuple = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3, 4.2);
my_tuple1 = my_tuple[-1::-2];
print(my_tuple1);

(4.2, 9.3, 7.3, 5.3, 3.3, 1.2)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [26]:
set_var = set();
set_var.add(5);
set_var.add(1);
set_var.add(4);
set_var.add(2);
set_var

{1, 2, 4, 5}

Так, множини є змінним типом даних.

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [27]:
my_list = [1, 1, 2, 67, 67, 8, 9];
my_set = set(my_list);
my_set

{1, 2, 8, 9, 67}

Деякі елементи "зникли", оскільки множини не зберігають дублікатів.

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [34]:
set_var1 = {1, 2, 3 , 4, 5, 6, 7};
set_var2 = {2, 3, 5, 8, 9, 34};
set_union = set_var1.union(set_var2);
print(f"Union: {set_union}");
set_difference = set_var1.difference(set_var2);
print(f"Difference: {set_difference}");
set_symmetric_difference = set_var1.symmetric_difference(set_var2);
print(f"Symmetric difference: {set_symmetric_difference}");
set_intersection = set_var1.intersection(set_var2);
print(f"Intersection: {set_intersection}");

Union: {1, 2, 3, 4, 5, 6, 7, 34, 8, 9}
Difference: {1, 4, 6, 7}
Symmetric difference: {1, 34, 4, 6, 7, 8, 9}
Intersection: {2, 3, 5}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [35]:
my_dict = {};
my_dict ={3: "three", False: 45, None: True, "set": {'s'}}
my_dict

{3: 'three', False: 45, None: True, 'set': {'s'}}

Список не може бути ключем, оскільки він змінний.

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [39]:
my_dict = {"s": 45, 1:{2:{3:"a"}}}
print(my_dict[1][2][3]);

a

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.